.max{
    font-size: small;
}
.font{
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    border-color: black;
    border-radius: 5px;                     
    border-spacing: 50px;
    padding-left: 50px;
  border: 20px ;
    border-style: solid;
}
