#a55{
    color: yellow;
} 

.para{
        color: gray;
} 
.name{ 
     background-color: gr eenyellow; 
     } 



body{
    background-color: white;
    color: burlywood;
} 

h2{
    color: chocolate;
}
#A255{
         color: chartreuse;
}
#a2554{
           color: burlywood;
}

.heading{
             color: cadetblue;
}


