#a21{
    color: brown;
 }
 #s12{
       color: blue;
 }
 .phy{
         color: aqua;
 }
 .ebad{
    background-color: antiquewhite;
    font-size: large;
 }
.si{
    font-family: 'Courier New', Courier, monospace;
    color: cadetblue;
    
}
.name3{
    font-size: x-large;
    color: black;
    background-color: blue;
}